// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic");

// Variables
@import "variables";

@import "~uikit/src/scss/uikit-theme.scss";

// html {
//   background: #eee url("http://www.rd.com/wp-content/uploads/sites/2/2017/01/02-know-reasons-hit-workout-plateau-505776960-BartekSzewczyk.jpg") no-repeat fixed center;
//   // background-size: cover;
//
// }

#bg {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
}


.ppp {
  cursor: pointer !important;
}
